<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.HouseMapper">

    <!-- 开启二级缓存
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
	 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.house.bean.House">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="createdate" property="createdate" />
        <result column="state" property="state" />
        <result column="typeid" property="typeid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, price, area, address, createdate, state, typeid
    </sql>

</mapper>
